@model PagedList.IPagedList<PhucAnh_done.Models.NhanVien>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Nhân Viên</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh Sách Nhân Viên</h6>
        </div>
        <div class="card-body">
            <div class="panel-body">
                @using (Html.BeginForm("Index", "NhanVien", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-md-4" style="padding-left: 0px;">
                                <input type="text" value="@ViewBag.Keyword" class="form-control" name="Keyword" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                <a class="btn btn-primary" href="/Admin/NhanVien/Create">Thêm mới</a>
                            </div>
                        </div>
                    </div>}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tên khách hàng</th>
                                <th>Ngày sinh</th>
                                <th>Email</th>
                                <th>Số điện thoại 1</th>
                                <th>Số điện thoại 2</th>
                                <th>Địa chỉ</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                 <tr id="row_@item.NhanVienID">
                                    <td>@item.HoTen</td>
                                    <td>@(item.NgaySinh != null ? ((DateTime)item.NgaySinh).ToString("dd/MM/yyyy") : "")</td>
                                    <td>@item.Email</td>
                                    <td>@item.SoDienThoai1</td>
                                    <td>@item.SoDienThoai2</td>
                                    <td>@item.DiaChi</td>
                                    <td>
                                        <a href="/Admin/NhanVien/Edit/@item.NhanVienID">Cập nhật</a>
                                        <a href="#">/</a>
                                        @Ajax.ActionLink("Xoá", "Delete", new { @id = item.NhanVienID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xoá bản ghi này?",
                                       OnComplete = "$('#row_" + @item.NhanVienID + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, Keyword = @ViewBag.Keyword }))
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>

</div>
