@using PhucAnh_done.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserLogin = ViewData["UserLogin"] as User;
    var phanLoaiTheoHang = ViewData["phanLoaiTheoHang"] as List<PhanLoaiTheoHangSp> ?? new List<PhanLoaiTheoHangSp>();
    var loaiDanhMucSanPham = ViewData["loaiDanhMucSanPham"] as List<LoaiDanhMucSanPham> ?? new List<LoaiDanhMucSanPham>();
    var loaiDMSP = ViewData["loaiDMSP"] as List<DanhMucSanPham> ?? new List<DanhMucSanPham>();
    var DanhMuc = ViewData["DanhMuc"] as List<PhanLoaiSanPham> ?? new List<PhanLoaiSanPham>();
}
@model GioHang

<section>
    <div class="container cont">
        <div id="menu">
            <div class="container">
                <div class="row nav" style="height: 29px">
                    <div class="col-md-3" id="menu1">
                        <div class="titlee">
                            <a href="">
                                <i class="fas fa-bars"></i>
                                <span>DANH MỤC SẢN PHẨM</span>
                            </a>
                            <ul class="menu-product">
                                @foreach (var PhanLoaiDM in loaiDanhMucSanPham)
                                {
                                    <li class="hover">
                                        <a href="/productCategory/@PhanLoaiDM.DanhMucSanPhamPID">@PhanLoaiDM.TenLoaiDanhMucSanPham</a>
                                        <div class="menu-detail">
                                            @foreach (var itemC in loaiDMSP.Where(x => x.DanhMucSanPhamPID == PhanLoaiDM.DanhMucSanPhamPID))
                                            {
                                                <div class="box-cat">
                                                    <a class="ti-menu" href="#"><b>@itemC.TenDanhMucSanPham</b></a>
                                                    <div class="new-sub">
                                                        @foreach (var item in DanhMuc.Where(x => x.DanhMucSanPhamID == itemC.DanhMucSanPhamID))
                                                        {
                                                            <div class="lap1">
                                                                <a href="/productCategoryClass/@item.PhanLoaiSanPhamID">@item.TenPhanLoaiSanPham<i class="fa fa-angle-right"></i></a>
                                                                @foreach (var spdm in phanLoaiTheoHang)
                                                                {
                                                                    var child = phanLoaiTheoHang.Where(x => x.PhanLoaiSanPhamID == item.PhanLoaiSanPhamID);
                                                                    if (child.Count() > 0)
                                                                    {
                                                                        <div class="list-sub-hover">

                                                                            @foreach (var childItem in child)
                                                                            {
                                                                                <a href="/productCategoryName/@childItem.PhanLoaiSanPhamID" class="cat3">@childItem.TenSanPhamTheoHang</a>
                                                                            }
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        }
                                                    </div>

                                                </div>
                                            }
                                        </div>

                                    </li>
                                }
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-7" id="menu2">
                        <span>
                            <i class="far fa-check-circle"></i>
                            <img src="" alt="">
                            100% Chính Hãng
                        </span>
                        <span>
                            <i class="fas fa-hand-holding-usd"></i>
                            <img src="" alt="">
                            Giá ưu đãi nhất
                        </span>
                        <span>
                            <i class="	fas fa-truck"></i>
                            Miễn Phí vận chuyển
                        </span>
                        <span>
                            <i class="	fab fa-google-drive"></i>
                            Bảo hành sử dụng
                        </span>
                    </div>
                    <div class="col-md-2" id="menu3">
                        <a href="">DEAL GIỜ VÀNG</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row nowrap">
            <div class="col-8 col-lg-8 col-sm-8">
                <div>
                    <h5> Tổng sản phẩm: @Model.TongSoLuong sản phẩm</h5>
                </div>
                <table class="table">
                    <tr>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Đơn giá
                        </th>
                        <th>
                            Số lượng sản phẩm
                        </th>
                        <th>
                            Thành tiền
                        </th>
                    </tr>
                    @foreach (var item in Model.Gio)
                    {
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-4">
                                        @{
                                            var AnhSanPham = item.SanPham.AnhSanPham;
                                            <img src="@Url.Content(AnhSanPham)" style="width: 100%;" class="img-responsive" alt="anh san pham">
                                        }
                                    </div>
                                    <div class="col-8">
                                        @item.SanPham.TenSanPham
                                    </div>
                                </div>
                            </td>
                            <td>
                                @item.SanPham.GiaBan
                            </td>
                            <td>
                                @item.SoLuong
                            </td>
                            <td>
                                @item.TongTien
                            </td>
                        </tr>
                    }
                </table>
                <div>
                    <h5>Tổng tiền: @Model.TongTien (VND)</h5>
                </div>
            </div>
            <div class="col-4 col-lg-4 col-sm-4">
                <h5>Xác nhận thông tin thanh toán</h5>
                <div>
                    @{
                        if (UserLogin != null)
                        {
                            <form action="/xac-nhan-thanh-toan" method="post" target="_blank">
                                <div class="form-group">
                                    <label for="hoTen">Họ tên</label>
                                    <input class="form-control" required type="text" name="hoTen" id="hoTen" placeholder="Họ tên" value="@UserLogin.Name" />
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" required type="email" name="email" id="email" placeholder="Email" value="@UserLogin.Email" />
                                </div>
                                <div class="form-group">
                                    <label for="soDienThoai">Số điện thoại</label>
                                    <input class="form-control" required type="text" name="soDienThoai" id="soDienThoai" placeholder="Số điện thoại" value="@UserLogin.Phone" />
                                </div>
                                <div class="form-group">
                                    <label for="diaChi">Địa chỉ</label>
                                    <input class="form-control" required type="text" name="diaChi" id="diaChi" placeholder="Địa chỉ" value="@UserLogin.DiaChiChiTiet" />
                                </div>
                                <div class="form-group">
                                    <label for="diaChiNhanHang">Địa chỉ nhận hàng</label>
                                    <input class="form-control" required type="text" name="diaChiNhanHang" id="diaChiNhanHang" placeholder="địa chỉ nhận hàng" value="@UserLogin.DiaChiChiTiet" />
                                </div>
                                <div class="form-group">
                                    <label for="ngayNhan">Ngày nhận</label>
                                    <input class="form-control" type="date" required name="ngayNhan" id="ngayNhan" placeholder="Ngày nhận" />
                                </div>
                                <div class="form-group">
                                    <label for="ghiChu">Ghi chú</label>
                                    <textarea rows="5" class="form-control" required name="ghiChu" id="ghiChu" placeholder="Ghi chú"></textarea>
                                </div>
                                <input style="width: 100%" class="btn btn-dark" type="submit" name="name" value="Xác nhận thanh toán" />
                            </form>
                        }
                        else
                        {
                            <form action="/xac-nhan-thanh-toan" method="post" target="_blank">
                                <div class="form-group">
                                    <label for="hoTen">Họ tên</label>
                                    <input class="form-control" required type="text" name="hoTen" id="hoTen" placeholder="Họ tên" />
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" required type="email" name="email" id="email" placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    <label for="soDienThoai">Số điện thoại</label>
                                    <input class="form-control" required type="text" name="soDienThoai" id="soDienThoai" placeholder="Số điện thoại" />
                                </div>
                                <div class="form-group">
                                    <label for="diaChi">Địa chỉ</label>
                                    <input class="form-control" required type="text" name="diaChi" id="diaChi" placeholder="Địa chỉ" />
                                </div>
                                <div class="form-group">
                                    <label for="diaChiNhanHang">Địa chỉ nhận hàng</label>
                                    <input class="form-control" required type="text" name="diaChiNhanHang" id="diaChiNhanHang" placeholder="địa chỉ nhận hàng" />
                                </div>
                                <div class="form-group">
                                    <label for="ngayNhan">Ngày nhận</label>
                                    <input class="form-control" type="date" required name="ngayNhan" id="ngayNhan" placeholder="Ngày nhận" />
                                </div>
                                <div class="form-group">
                                    <label for="ghiChu">Ghi chú</label>
                                    <textarea rows="5" class="form-control" required name="ghiChu" id="ghiChu" placeholder="Ghi chú"></textarea>
                                </div>
                                <input style="width: 100%" class="btn btn-dark" type="submit" name="name" value="Xác nhận thanh toán" />
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

